@{
    ViewBag.Title = "About";
}
@*
    Author: John Horne
    Student ID: 200240927
    Date Modified: 08/18/16
    File History: Initial commit
    File Description: A page that tells them what we're about
*@

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
