@model IEnumerable<COMP2006_S2016_FinalExamV2.Models.Artist>

@{
    ViewBag.Title = "Index";
}
@*
    Author: John Horne
    Student ID: 200240927
    Date Modified: 08/18/16
    File History: Initial commit
    File Description: The list of artists
*@

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
