@*
    Author: John Horne
    Student ID: 200240927
    Date Modified: 08/18/16
    File History: Initial commit
    File Description: Page to display upon error
*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
